
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');


  *{
    margin: 0;
    padding: 0;
  }

  body{
    font-family: 'DM Sans', sans-serif;
  }

  /* navbar------css */

  .navbar{
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.429);
    z-index: 1;
  }

  .navbar .navbar__title{
    color: purple;
  }


  .navbar__center{
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar__center input{
    border: none;
    font-size: 14px;
    width: 100%;
    background-color: transparent;

  }
  .navbar__center input:focus{
    outline: none;
  }

  .navbar__right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar__toggle{
    display: none;
  }
/* my learning popup */
.mylearning{
  position: relative;
  cursor: pointer;
}
  .learning__popup{
   background-color: #fff;
   border: 1px solid black;
   width: 150px;
   padding: 5px 10px;
  position: absolute;
  top: 150%;
  z-index: 2;
  display: none;
  }
  .mylearning:hover .learning__popup{
    display: block;
  }
  /* category */

  .categories{
    display: flex;
    padding: 10px;
    width: 100%;
    overflow-x: scroll;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(128, 128, 128, 0.429);
  }
  .categories::-webkit-scrollbar{
    display: none;
  }
.categories p{
    background-color: purple;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
    border: 1px solid purple;
}
.categories p:hover{
  cursor: pointer;
  transition: 1s;
  color: purple;
  border: 1px solid purple;
  background-color: rgb(255, 207, 255);
}

/* banner section */
.banner__section{
  position: relative;
}
.banner__section img{
    width: 100%;
  

}
.sale__image{
  position: absolute;
  background-color: #838383;
  border: 1 px solid black;
  width: 35%;
  padding: 15px;
  border-radius: 10px;
  top: 10%;
  left: 10%;
  animation-name: zoom;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  0%{
    transform: scale(0);
    opacity: 0;
    
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
  
  
}

/* course card section */

.course__card--title{
    padding: 15px;
}


.course__card--item{
    flex-grow: 1;
    flex-basis: 20%;
    margin-right: 10px;
}
.course__card--item img{
    width: 100%;
    height: 50%;
}

.course__card--section{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}


.topic__container{
  display: flex;
  padding: 5px;
  gap: 10px;
  flex-wrap: wrap;
}
.topic__container p{
  flex-grow: 1;
  flex-basis: 25%;
  border: 1px solid black;
  padding: 5px;
}

.popular__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.footer{
  background-color: black;
  color: #fff;
  
}

.footer__one{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.footer__two{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: purple;
}

@media screen and (max-width:800px) {
  body{
    font-size: 10px;
  }
  .category__section{
    display: none;
  }
}


@media screen and (max-width:600px) {
  .course__card--item{
   
    flex-basis: 40%;
  }
  .navbar__center{
    display: none;
  }
  .navbar__right{
    display: none;
  }
  .navbar__toggle{
    display: block !important;
  }
}